.jumbotron{
	background-color: green;
	color: black;
}

.btn{
	color: white;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 2px 2px 2px;
}

.btn-reserva{
	position: relative;
	left: 0;

}